<div class="chat-container">
    <div class="chat-messages">
        <div class="grid gap-y-2">
            <!-- Chat messages -->
            <app-gpt-message text="Escribe el texto que quieres que revise la ortografía..."/>


            @for (message of messages(); track $index)
            {
                @if (message.isGpt) {
                    <app-gpt-message-orthography 
                        [text]="message.text" 
                        [errors]="message.info!.errors"
                        [userScore]="message.info!.userScore">
                    </app-gpt-message-orthography>
                } 
                @else {
                    <app-my-message [text]="message.text">
                    </app-my-message>
                }                
            }
            
            @if (isLoading()) 
            {
                <app-typing-loader></app-typing-loader>
            }
        </div>
    </div>

    <!-- Message Box -->
    <app-text-message-box 
                 placeholder="Escribe algo..."
                 (onMessage)="handleMessage($event)"
                 [disableCorrections]="true"
                 />

</div>
