@if(originalImage())
{
    <div class="fixed flex flex-col items-center top-10 right-10 z-10 fade-in">
        <span>Editando</span>
        <img src="{{ originalImage() }}" alt="imagen a editar"
            class="border rounded-xl w-36 h-36 object-contain">
            
        <button class="btn-primary" (click)="generateVariation()">
                Generar variación
        </button>
    </div>
}

<div class="chat-container">
    <div class="chat-messages">
        <div class="grid gap-y-2">
            <!-- Chat messages -->
            <app-gpt-message text="¿Qué imagen quieres que te genere..."/>

            @for (message of messages(); track $index)
            {
                @if (message.isGpt) {
                    <app-gtp-message-editable-image 
                            [text]="message.text"
                            [imageInfo]="message.imageInfo!"
                            (onSelectedImage)="handleSelectedImage($event, message.imageInfo?.url!)">
                    </app-gtp-message-editable-image>
                } 
                @else {
                    <app-my-message [text]="message.text">
                    </app-my-message>
                }                
            }
            
            @if (isLoading()) 
            {
                <app-typing-loader></app-typing-loader>
            }
        </div>
    </div>

    <!-- Message Box -->
    <app-text-message-box placeholder="Describe algo..." (onMessage)="handleMessage($event)"> </app-text-message-box>
</div>
